<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>城区之星</title>
	<link rel="stylesheet" href="__ROOT__/public/css/index.css">
</head>
<body>
	<div class="cqzxda">
		<div class="cqzx1">
			<div class="juti">
				<div class="xuxiank">
					<span>当前位置:</span>
					<a href="__APP__/" style="margin-left:10px">主页></a>
					<a href="__APP__/Listtype/index/typeId/19">城区之星></a>
					
					<div class="baisenr">
						<h4>{$news.title}</h4>
						<div class="laiyuanlan">
							<span>来源:</span>
							<span class="wzz">{$news.source}</span>
							<span class="wzz">发布时间:</span>
							<span class="wzz">{$news.date}</span>
							
							<span class="wzz">阅读人次<span>{$news.hint}</span><span>次</span></span>
						</div>
						
						<div class="duanluoqu">
							<if condition="$news.imagepath != NULL ">
		           <img src="__ROOT__/public/{$news.imagepath}" width="600"  >
		           </if>
							{$news.content}
						</div>
					</div>
					
					
					
				</div>
			</div>
		</div>
	</div>
</body>
</html>