<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
 <title>
      晋中市公安局城区分局
    </title>
  <style type="text/css">
    body{margin: 0; padding: 0}   
    #outer{width: 800px;}
    #tip{width: 800px; height: 700px; text-align: center; color:#FFF;font-size:16px;font-weight:bold;}
    #btn_div{width: 800px; height: 50px; text-align: center; margin-top: 20px}
    button{width: 100px; height: 22px; border: solid 1px #aaaaaa; background: #585858; font-family: "黑体"; line-height: 16px; color:#FFF}
    ul{margin: 0; padding: 0}
    li{list-style: none; margin-bottom: 15px; line-height: 25px}  
  </style>  
 
  </head>

  <body>
     <center>
     <br />
     <br />
     <br />
      <div id="outer">
        <div id="tip" style="background:url(__ROOT__/public/images/xx.gif);">
          <div style="margin-left:38px;width: 680px;padding-top: 15px;" >
            <div style="font-size: 26px; font-weight: bold; color:red; margin: 50px 0">晋中市公安城区分局内部信息数据安全使用管理核心要求</div>
            <div style="text-align: left;">
              <div  style="margin-bottom: 10px"></div>                
                            
              <ul style="margin-left:40px;">
                <li>1.数字证书按照“专人专用”、“谁持有，谁负责”的原则管理。</li>
              <li>2.证书使用完毕，应立即从计算机上取下证书并妥善保管，防止他人非法使用。</li>
              <li>3.严禁非工作原因使用数字证书查询信息。</li>
              <li>4.严禁未经批准将证书转借他人使用或私自借用、盗用他人证书。</li>
              <li>5.严禁违规泄露、传播、买卖公安内部信息数据。</li>
              <li>6.违反以上规定或恶意使用证书等原因造成安全案件或事故的，对责任人予以追责，违反国家法律的，由有关部门依法追究其法律责任。</li>
              <li>7.不能严格执行相关管理办法造成工作失误，由有关部门对相关责任人进行问责。</li>
              <li style="text-align: right; font-size: 16px; font-weight: bold;line-height: 38px;">晋中市公安局城区分局保密委员会</li>
              </ul>
            </div>            
          </div>        
          
          
             <a href="__APP__/Index/indexr.html" style="color: #ccc;">进入主页</a>
          
        </div>


      </div>
    </center>
  </body>  
  
</html>
 
 

  
    
