<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>生日快乐</title>
	<link rel="stylesheet" href="__ROOT__/public/css/quchumr.css">
	<link rel="stylesheet" href="__ROOT__/public/css/index.css">
	<script src="__ROOT__library/js/jquery.min.js"></script>
	<script src="__ROOT__library/js/index.js"></script>
</head>
<body>
	<div id="srkl">
		<div id="srkl2">
			<div class="kongxs"></div>
			<span class="yfwx">一份温馨的</span><span class="zhufu">祝福</span>
			<span class="sming">成就生命的<span class="sming1">灿烂</span>与精彩</span>
			<div class="srklneirong">
				<div class="srklneirong1">
					<img src="__ROOT__/public/images/zti14.jpg" alt="">
					<div class="srklzi">生日快乐</div>
					<div class="baiseneir">
						<h1>{$news.title}</h1>
						<div class="dierlan1">
							<i>发布时间:</i>
							<span>{$news.date}</span>
							<i style="margin-left:20px">发布者:</i>
							<span>{$news.edit}</span>
							<i style="margin-left:20px">阅读人数:</i>
							<span>{$news.hint}</span>
						</div>
						<div  style="width: 100%; ">
							<if condition="$news.imagepath != NULL ">
		           <img src="__ROOT__/public/{$news.imagepath}" width="600"  >
		           </if>
		           {$news.content}
		            </div>

						
					</div>

				</div>
			</div>
		<div>
	</div>
</body>
</html> 